<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization Help</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <%- include('./components/topbar.ejs') %>
    <div class="centeredClass">
        <h2 class="header">How to get your Authorization Code.</h1>
    </div>
</body>
</html>